// Используемые в разных и напрямую не связанных частях приложения значения размеров
$max-content-width: 1140px;
$table-content-width: 920px;
$mobile-content-width: 600px;
$mobile-small-content-width: 320px;


// Хедер
$header-width: 100%;
$header-height: 100vh;

// Артикл
$article-width: 365px;

// Сайдбар
$sidebar-width: 295px;

// Футер
$footer-width-block-messenger: 277px;
$footer-width-list: 200px;
$footer-width-menu-list: 420px;
$footer-height-menu-list: 150px
