@use "src/styles/variables/sizes";
@use "src/styles/variables/breakpoints";
@use "src/styles/mixins/layout";
@use "src/styles/mixins/button";
@use "src/styles/mixins/typography";

.hiddenMobile {
  display: block;
  @media screen and (max-width: breakpoints.$main-mobile-breakpoint) {
    display: none;
  }
}

.navigate {
  width: sizes.$header-width;
  color: #E4E5EA;
  font-family: 'Inter', sans-serif;
  padding-top: 4px;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  @media screen and (max-width: breakpoints.$main-tablet-breakpoint) {
    width: 100%;
    justify-content: space-between;
  }
}

.menuItem {
  @include typography.text-content;
  font-weight: 500;
  margin-left: 30px;

  @media screen and (max-width: breakpoints.$wide-screen-breakpoint) {
    margin-left: 20px;
  }
  @media screen and (max-width: breakpoints.$main-tablet-breakpoint) {
    margin-left: 0;
  }
}

.infoMessenger {
  display: flex;
  @media screen and (max-width: breakpoints.$main-tablet-breakpoint) {
    display: none;
  }
}

.infoMessengerItemLink {
  @include typography.text-content;
  font-weight: 500;
  margin-right: 48px;
  @media screen and (max-width: breakpoints.$wide-screen-breakpoint) {
    margin-right: 10px;
  }
  @media screen and (max-width: breakpoints.$main-mobile-breakpoint) {
    margin-right: 0;
  }
}

.infoMessengerItem {
  margin-right: 33px;
  img {
    width: 17px;
    height: 16px;
  }
}
